<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head.ejs')-%>
  </head>

  <body>
    <%- include('header.ejs') -%>
    <!-- ==========Banner Section Starts Here========== -->
    <section
      class="page-header bg_img"
      data-background="assets/images/banner/page-header.jpg"
      style="padding: 100px"
    >
      <div class="container">
        <div class="page-header-content">
          <h1 class="title">About us</h1>
          <ul class="breadcrumb">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>About</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- ==========Banner Section Ends Here========== -->

    <!-- ==========Feature Section Start Here========== -->
    <div class="feature-section style-2 pos-rel" style="padding: 50px 0px">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <h3 class="title text-uppercase" style="padding: 0px 0px 20px 0px">
              About US
            </h3>
            <p>
              Welcome to the Planetary Health Research Centre (PHRC), a dynamic
              hub dedicated to catalyzing positive change in the realm of
              planetary health. As per the Planetary Health Alliance “Planetary
              Health is a solutions-oriented, transdisciplinary field and social
              movement focused on analyzing and addressing the impacts of human
              disruptions to Earth’s natural systems on human health and all
              life on Earth”. Our center is at the forefront of this movement,
              recognizing that anthropogenic environmental changes are shaping
              the quality of the air we breathe and of the water we drink, the
              quality and quantity of food we produce, our exposure to
              infectious diseases, and even the habitability of the places where
              we live. Discover the transformative initiatives and projects we
              lead on our website, dedicated to creating a healthier, more
              sustainable planet. We invite you to join us in this journey
              toward positive change, embracing a shared commitment to planetary
              health for the well-being of our global community.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- ==========Feature Section Ends Here========== -->

    <!-- ==========Footer Section Starts Here========== -->
    <%- include('footer.ejs')-%>
    <!-- ==========Footer Section Ends Here========== -->
  </body>
</html>
