<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head.ejs') -%>

  <body>
    <!-- ==========Preloader Overlay Starts Here========== -->
    <%- include('header.ejs') -%>   
    <!-- ==========Banner Section Starts Here========== -->
    <section
      class="page-header bg_img"
      data-background="assets/images/banner/page-header.jpg"
    >
      <div class="container">
        <div class="page-header-content">
          <h3 class="title">Our Projects</h3>
          <ul class="breadcrumb">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>Projects</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- ==========Banner Section Ends Here========== -->

    <!-- ==========Causes Section Starts Here========== -->
    <div class="causes-section padding-top padding-bottom">
      <div class="container">
        <div class="row mb-30-none justify-content-center">
          <div class="col-xl-4 col-sm-6 col-12">
            <div class="causes-item mb-30">
              <div class="causes-inner">
                <div class="causes-thumb">
                  <img src="assets/images/causes/01.jpg" alt="causes" />                  
                </div>
                <div class="causes-content bg-white">
                  <a href="#" class="causes-catagiry mb-2 text-uppercase"
                    >food distribution</a
                  >
                  <h4 class="title mb-3">
                    <a href="#">Little Help That Goes a Long Way</a>
                  </h4>
                  <p>
                    ProfesSona leverage existing error free exper iences from
                    high quality supply chains create Energistically monetize
                    virtual human.
                  </p>
                  <a href="causes-single.html" class="custom-button mt-2"
                    ><span>Read More</span
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6 col-12">
            <div class="causes-item mb-30">
              <div class="causes-inner">
                <div class="causes-thumb">
                  <img src="assets/images/causes/02.jpg" alt="causes" />                  
                </div>
                <div class="causes-content bg-white">
                  <a href="#" class="causes-catagiry mb-2 text-uppercase"
                    >WATER distribution</a
                  >
                  <h4 class="title mb-3">
                    <a href="#">You Can Give in Africa Clean Water</a>
                  </h4>
                  <p>
                    ProfesSona leverage existing error free exper iences from
                    high quality supply chains create Energistically monetize
                    virtual human.
                  </p>
                  <a href="causes-single.html" class="custom-button mt-2"
                    ><span>Read More</span
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6 col-12">
            <div class="causes-item mb-30">
              <div class="causes-inner">
                <div class="causes-thumb">
                  <img src="assets/images/causes/03.jpg" alt="causes" />                  
                </div>
                <div class="causes-content bg-white">
                  <a href="#" class="causes-catagiry mb-2 text-uppercase"
                    >MEDICAL CAMP</a
                  >
                  <h4 class="title mb-3">
                    <a href="#">Help Children in South Africa</a>
                  </h4>
                  <p>
                    ProfesSona leverage existing error free exper iences from
                    high quality supply chains create Energistically monetize
                    virtual human.
                  </p>
                  <a href="causes-single.html" class="custom-button mt-2"
                    ><span>Read More</span
                  ></a>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
    <!-- ==========Causes Section Ends Here========== -->

    <!-- ==========Footer Section Starts Here========== -->
    <%- include('footer.ejs') -%>
  </body>
</html>
