<header class="header-1">
  <div class="header-top">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-3 col-12">
          <div class="logo py-2">
            <a href="/"
              ><img
                src="assets/images/logo/logo.png"
                alt="logo"
                height="100px"
                width="100px"
            /></a>
          </div>
        </div>
        <div class="col-lg-9 col-12">
          <div class="ht-left">
            <ul class="lab-ul d-flex flex-wrap justify-content-end">
              <li class="d-flex flex-wrap align-items-center">
                <div class="ht-add-thumb mr-3">
                  <img src="assets/images/header/01.png" alt="address" />
                </div>
                <div class="ht-add-content">
                  <span>Number :</span>
                  <span class="d-block text-bold">+01-4880927</span>
                </div>
              </li>
              <li class="d-flex flex-wrap align-items-center">
                <div class="ht-add-thumb mr-3">
                  <img src="assets/images/header/02.png" alt="email" />
                </div>
                <div class="ht-add-content">
                  <span>Email : </span>
                  <span class="d-block text-bold">phrcnepal@phrcnp.org</span>
                </div>
              </li>
              <li class="d-flex flex-wrap align-items-center">
                <div class="ht-add-thumb mr-3">
                  <img src="assets/images/header/03.png" alt="call" />
                </div>
                <div class="ht-add-content">
                  <span>Address : </span>
                  <span class="d-block text-bold"
                    >Nagarjun - 01, Kathmandu, Nepal</span
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="header-wrapper">
        <div class="menu-area justify-content-between w-100">
          <ul class="menu">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="#">About Us</a>
              <ul class="submenu">
                <li><a href="/about">About PHRC Nepal</a></li>
                <li><a href="/mission">Misson and Vision</a></li>
                <li><a href="/objective">Objective</a></li>
              </ul>
            </li>
            <li>
              <a href="/teams">Our Team</a>
            </li>
            <li>
              <a href="/projects">Projects</a>
            </li>
            <li>
              <a href="/gallery">Gallery</a>
            </li>
            <li>
              <a href="#0">Publications</a>
              <ul class="submenu">
                <li><a href="/blog">Blog</a></li>
                <li>
                  <a style="background: #a3a7b1">Policy breifs</a>
                </li>
                <li><a style="background: #a3a7b1">Reports</a></li>
                <li><a style="background: #a3a7b1">Annual Reports</a></li>
              </ul>
            </li>
            <li>
              <a href="/events">Events</a>
            </li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          <div class="header-bar d-lg-none">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="ellepsis-bar d-lg-none">
            <i class="fas fa-ellipsis-h"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
