<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head.ejs')-%>
  </head>

  <body>
    <%- include('header.ejs') -%>

    <section
      class="banner-section oh bg_img"
      data-background="assets/images/banner/banner.jpg"
    >
      <div class="top-shape-content d-none d-xl-block">
        <img
          src="assets/images/banner/shape.png"
          alt="banner"
          class="bs-item"
          data-value="-3"
        />
      </div>
      <div class="container">
        <div class="d-flex justify-content-between flex-row-reverse">
          <div class="banner-thumb">
            <img
              src="assets/images/banner/01.png"
              alt="banner"
              class="bs-item"
              data-value="-5"
            />
          </div>
          <div class="banner-content style-2">
            <h1 class="title">
              Welcome to
              <span class="theme-two">Planetary Health Research Center.</span>
            </h1>
          </div>
        </div>
      </div>
    </section>
    <!-- ==========Banner Section Ends Here========== -->

    <!-- ==========Feature Section Start Here========== -->
    <div class="feature-section style-2 padding-bottom padding-top pos-rel">
      <div class="bg-shape d-none d-lg-block">
        <img src="assets/images/feature/bg.jpg" alt="bg-shape" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="section-header style-2 text-left">
              <div class="sh-top">
                <h6 class="cate">WHO WE ARE</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-8 pl-xl-70">
            <div class="row justify-content-center mb-30-none -mx-10">
              <div class="col-sm-6 col-12">
                <div class="feature-item style-2">
                  <div class="feature-inner">
                    <div class="feature-content">
                      <div class="feture-icon mb-4">
                        <img src="assets/images/feature/01.png" alt="" />
                      </div>
                      <span class="cate" style="color: #ffc600"
                        >Interdisciplinary research
                      </span>
                      <!-- <h4 class="title">Food For Poor People</h4> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="feature-item style-2">
                  <div class="feature-inner">
                    <div class="feature-content">
                      <div class="feture-icon mb-4">
                        <img src="assets/images/feature/02.png" alt="" />
                      </div>
                      <span class="cate">Climate change and health </span>
                      <!-- <h4 class="title">Facilities For People</h4> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="feature-item style-2">
                  <div class="feature-inner">
                    <div class="feature-content">
                      <div class="feture-icon mb-4">
                        <img src="assets/images/feature/03.png" alt="" />
                      </div>
                      <span class="cate">Pure water</span>
                      <!-- <h4 class="title">Water For People</h4> -->
                      <!-- <p>
                        We provde the best latest technology of equipment and
                        our staff are available in 24/7 at clients call.
                      </p> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-12">
                <div class="feature-item style-2">
                  <div class="feature-inner">
                    <div class="feature-content">
                      <div class="feture-icon mb-4">
                        <img src="assets/images/feature/04.png" alt="" />
                      </div>
                      <span class="cate">Nature- based solutions </span>
                      <!-- <h4 class="title">Education For All Children</h4> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ==========Causes Section Starts Here========== -->
    <!-- <div class="causes-section style-2 padding-top padding-bottom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="section-header text-left">
              <h3 class="title text-uppercase">Our Projects</h3>
              <span class="causes-nav causes-prev"
                ><i class="fas fa-arrow-left"></i
              ></span>
              <span class="causes-nav causes-next active"
                ><i class="fas fa-arrow-right"></i
              ></span>
            </div>
          </div>
        </div>
        <div class="causes-slider">
          <div class="causes-item">
            <div class="causes-inner">
              <div class="causes-thumb">
                <img src="assets/images/causes/01.jpg" alt="causes" />
              </div>
              <div class="causes-content bg-white">
                <a href="#" class="causes-catagiry mb-2 text-uppercase"
                  >food distribution</a
                >
                <h4 class="title mb-3">
                  <a href="#">Little Help That Goes a Long Way</a>
                </h4>
                <p>
                  ProfesSona leverage existing error free exper iences from high
                  quality supply chains create Energistically monetize virtual
                  human.
                </p>
              </div>
            </div>
          </div>
          <div class="causes-item">
            <div class="causes-inner">
              <div class="causes-thumb">
                <img src="assets/images/causes/02.jpg" alt="causes" />
              </div>
              <div class="causes-content bg-white">
                <a
                  href="#"
                  class="causes-catagiry mb-2 text-uppercase theme-color"
                  >WATER distribution</a
                >
                <h4 class="title mb-3">
                  <a href="#">You Can Give in Africa Clean Water</a>
                </h4>
                <p>
                  ProfesSona leverage existing error free exper iences from high
                  quality supply chains create Energistically monetize virtual
                  human.
                </p>
              </div>
            </div>
          </div>
          <div class="causes-item">
            <div class="causes-inner">
              <div class="causes-thumb">
                <img src="assets/images/causes/03.jpg" alt="causes" />
              </div>
              <div class="causes-content bg-white">
                <a
                  href="#"
                  class="causes-catagiry mb-2 text-uppercase theme-three"
                  >MEDICAL CAMP</a
                >
                <h4 class="title mb-3">
                  <a href="#">Help Children in South Africa</a>
                </h4>
                <p>
                  ProfesSona leverage existing error free exper iences from high
                  quality supply chains create Energistically monetize virtual
                  human.
                </p>
              </div>
            </div>
          </div>
          <div class="causes-item">
            <div class="causes-inner">
              <div class="causes-thumb">
                <img src="assets/images/causes/04.jpg" alt="causes" />
              </div>
              <div class="causes-content bg-white">
                <a
                  href="#"
                  class="causes-catagiry mb-2 text-uppercase theme-four"
                  >MEDICAL CAMP</a
                >
                <h4 class="title mb-3">
                  <a href="#">Financial Help For Poor Families</a>
                </h4>
                <p>
                  ProfesSona leverage existing error free exper iences from high
                  quality supply chains create Energistically monetize virtual
                  human.
                </p>
                <a href="#" class="custom-button mt-2 theme-four-bg"
                  ><span>Donate Now<i class="fas fa-heart ml-2"></i></span
                ></a>
              </div>
            </div>
          </div>
          <div class="causes-item">
            <div class="causes-inner">
              <div class="causes-thumb">
                <img src="assets/images/causes/05.jpg" alt="causes" />
              </div>
              <div class="causes-content bg-white">
                <a
                  href="#"
                  class="causes-catagiry mb-2 text-uppercase theme-five"
                  >food distribution</a
                >
                <h4 class="title mb-3">
                  <a href="#">Little Help That Goes a Long Way</a>
                </h4>
                <p>
                  ProfesSona leverage existing error free exper iences from high
                  quality supply chains create Energistically monetize virtual
                  human.
                </p>
                <a href="#" class="custom-button mt-2 theme-five-bg"
                  ><span>Donate Now<i class="fas fa-heart ml-2"></i></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- ==========Causes Section Ends Here========== -->

    <!-- ==========Clients Section Start Here========== -->
    <div
      class="clients-section style-2 padding-bottom padding-top bg_img mt-0"
      data-background="assets/images/client/client-bg2.jpg"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4">
            <div class="section-header style-2 text-left">
              <div class="sh-top">
                <span class="cate">our TESTIMONIALS</span>
                <h3 class="title text-uppercase">
                  What People Say About Our Company
                </h3>
              </div>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="mb-30-none -mx-10">
              <div class="clients-slider2">
                <div class="clients-item style-2">
                  <div class="clients-inner">
                    <div class="clients-review">
                      <div class="cr-top">
                        <div class="crt-head">
                          <div class="crth-left">
                            <img
                              src="assets/images/client/icon.png"
                              alt="client icon"
                            />
                          </div>
                        </div>
                        <div class="crt-body">
                          <h4 class="title">
                            Holisticly plagiarize enterprisei deliverab through
                            team driven niche markets seamlessly pursuese
                            nteroperable is plagiarize enterprise deliverab
                            through team
                          </h4>
                        </div>
                      </div>
                      <div class="cr-bottom">
                        <div class="client-thumb">
                          <img
                            src="assets/images/client/01.jpg"
                            alt="clients"
                          />
                        </div>
                        <div class="client-info">
                          <h4 class="title">Ram Thapa</h4>
                          <span>UX Designer</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clients-item style-2">
                  <div class="clients-inner">
                    <div class="clients-review">
                      <div class="cr-top">
                        <div class="crt-head">
                          <div class="crth-left">
                            <img
                              src="assets/images/client/icon.png"
                              alt="client icon"
                            />
                          </div>
                        </div>
                        <div class="crt-body">
                          <h4 class="title">
                            Holisticly plagiarize enterprisei deliverab through
                            team driven niche markets seamlessly pursuese
                            nteroperable is plagiarize enterprise deliverab
                            through team
                          </h4>
                        </div>
                      </div>
                      <div class="cr-bottom">
                        <div class="client-thumb">
                          <img
                            src="assets/images/client/02.jpg"
                            alt="clients"
                          />
                        </div>
                        <div class="client-info">
                          <h4 class="title">John Harvard</h4>
                          <span>UX Designer</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clients-item style-2">
                  <div class="clients-inner">
                    <div class="clients-review">
                      <div class="cr-top">
                        <div class="crt-head">
                          <div class="crth-left">
                            <img
                              src="assets/images/client/icon.png"
                              alt="client icon"
                            />
                          </div>
                        </div>
                        <div class="crt-body">
                          <h4 class="title">
                            Holisticly plagiarize enterprisei deliverab through
                            team driven niche markets seamlessly pursuese
                            nteroperable is plagiarize enterprise deliverab
                            through team
                          </h4>
                        </div>
                      </div>
                      <div class="cr-bottom">
                        <div class="client-thumb">
                          <img
                            src="assets/images/client/01.jpg"
                            alt="clients"
                          />
                        </div>
                        <div class="client-info">
                          <h4 class="title">Bini Kabir</h4>
                          <span>UX Designer</span>
                          <span class="rating"
                            >(
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            )</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="clients-item style-2">
                  <div class="clients-inner">
                    <div class="clients-review">
                      <div class="cr-top">
                        <div class="crt-head">
                          <div class="crth-left">
                            <img
                              src="assets/images/client/icon.png"
                              alt="client icon"
                            />
                          </div>
                        </div>
                        <div class="crt-body">
                          <h4 class="title">
                            Holisticly plagiarize enterprisei deliverab through
                            team driven niche markets seamlessly pursuese
                            nteroperable is plagiarize enterprise deliverab
                            through team
                          </h4>
                        </div>
                      </div>
                      <div class="cr-bottom">
                        <div class="client-thumb">
                          <img
                            src="assets/images/client/02.jpg"
                            alt="clients"
                          />
                        </div>
                        <div class="client-info">
                          <h4 class="title">John Harvard</h4>
                          <span>UX Designer</span>
                          <span class="rating"
                            >(
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            )</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ==========Clients Section Ends Here========== -->

    <!-- ==========Project Section Starts Here========== -->
    <!-- ==========Project Section Ends Here========== -->

    <!-- ==========Faqs Section Starts Here========== -->
    <section class="faqs-single-section pos-rel">
      <div class="abs-clients-thumb">
        <img src="assets/images/bg/bg-shape2.png" alt="abs-clients-thumb" />
      </div>
      <div class="container">
        <div class="row align-items-center flex-row-reverse">
          <div class="col-xl-6">
            <div class="section-header text-left">
              <span class="cate">BECOME AN INTERN</span>
              <h3 class="title text-uppercase">Why We Need You</h3>
            </div>
            <div class="faq-wrapper">
              <div class="faq-item">
                <div class="faq-title">
                  <span class="right-icon"></span>
                  <h5 class="title">
                    We Help Nonprofits Become More Effective
                  </h5>
                </div>
                <div class="faq-content">
                  <p>
                    Since 2021 weing have been visionar and arelable software
                    enginering partner forng worldcass brands what are bouque
                    digital transformaon are awesome theme consultancy.
                  </p>
                </div>
              </div>
              <div class="faq-item active">
                <div class="faq-title">
                  <span class="right-icon"></span>
                  <h5 class="title">
                    We’re Quick And Nimble. We’re Truly Global
                  </h5>
                </div>
                <div class="faq-content">
                  <p>
                    Since 2021 weing have been visionar and arelable software
                    enginering partner forng worldcass brands what are bouque
                    digital transformaon are awesome theme consultancy.
                  </p>
                </div>
              </div>
              <div class="faq-item">
                <div class="faq-title">
                  <span class="right-icon"></span>
                  <h5 class="title">Donor Satisfaction is Guaranteed</h5>
                </div>
                <div class="faq-content">
                  <p>
                    Since 2021 weing have been visionar and arelable software
                    enginering partner forng worldcass brands what are bouque
                    digital transformaon are awesome theme consultancy.
                  </p>
                </div>
              </div>
              <div class="faq-item">
                <div class="faq-title">
                  <span class="right-icon"></span>
                  <h5 class="title">We Help Companies Give Well</h5>
                </div>
                <div class="faq-content">
                  <p>
                    Since 2021 weing have been visionar and arelable software
                    enginering partner forng worldcass brands what are bouque
                    digital transformaon are awesome theme consultancy.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div
              class="faq-thumb wow fadeInUp"
              data-wow-duration="1s"
              data-wow-delay=".1s"
            >
              <div class="faq-abs-thumb">
                <img
                  src="assets/images/facilities/01.png"
                  alt="faq-abs-thumb"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ==========Faqs Section Ends Here========== -->

    <!-- ==========Counter Section Starts Here========== -->
    <div
      class="counter-section padding-top padding-bottom bg_img"
      data-background="assets/images/counter/counter-bg.jpg"
    >
      <div class="container">
        <div class="row justify-content-center mb-30-none">
          <div class="col-xl-3 col-md-6 col-sm-6">
            <!-- <div class="counter-item">
              <div class="counter-thumb pos-rel">
                <div class="count-bg-shap">
                  <img src="assets/images/counter/shape/01.png" alt="counter" />
                </div>
                <img src="assets/images/counter/01.png" alt="counter" />
              </div>
              <div class="counter-content">
                <div class="counter-header">
                  <h2 class="title odometer" data-odometer-final="300">0</h2>
                  <h2 class="title">+</h2>
                </div>
                <span class="cate">Total Our Volunteer</span>
              </div>
            </div> -->
          </div>
          <div class="col-xl-3 col-md-6 col-sm-6">
            <!-- <div class="counter-item">
              <div class="counter-thumb pos-rel">
                <div class="count-bg-shap">
                  <img src="assets/images/counter/shape/02.png" alt="counter" />
                </div>
                <img src="assets/images/counter/02.png" alt="counter" />
              </div>
              <div class="counter-content">
                <div class="counter-header">
                  <h2 class="title odometer" data-odometer-final="2300">0</h2>
                  <h2 class="title">+</h2>
                </div>
                <span class="cate">Total Happy Children</span>
              </div>
            </div> -->
          </div>
          <div class="col-xl-3 col-md-6 col-sm-6">
            <!-- <div class="counter-item">
              <div class="counter-thumb pos-rel">
                <div class="count-bg-shap">
                  <img src="assets/images/counter/shape/03.png" alt="counter" />
                </div>
                <img src="assets/images/counter/03.png" alt="counter" />
              </div>
              <div class="counter-content">
                <div class="counter-header">
                  <h2 class="title odometer" data-odometer-final="100">0</h2>
                  <h2 class="title">K+</h2>
                </div>
                <span class="cate">Our Total Donated</span>
              </div>
            </div> -->
          </div>
          <div class="col-xl-3 col-md-6 col-sm-6">
            <!-- <div class="counter-item">
              <div class="counter-thumb pos-rel">
                <div class="count-bg-shap">
                  <img src="assets/images/counter/shape/04.png" alt="counter" />
                </div>
                <img src="assets/images/counter/04.png" alt="counter" />
              </div>
              <div class="counter-content">
                <div class="counter-header">
                  <h2 class="title odometer" data-odometer-final="550">0</h2>
                  <h2 class="title">+</h2>
                </div>
                <span class="cate">Our Products & Gifts</span>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- ==========Counter Section Ends Here========== -->

    <!-- ==========Clients Section Ends Here========== -->
    <div
      class="clients-section volunteer padding-top padding-bottom mt-0 pos-rel"
    >
      <div class="abs-clients-thumb">
        <img src="assets/images/bg/bg-shape2.png" alt="abs-clients-thumb" />
      </div>
      <div class="container">
        <div class="section-wrapper">
          <div class="clents-left">
            <div class="cl-content-area">
              <div class="cl-content">
                <h4 class="title">Meet The Specialist Team</h4>
              </div>
            </div>
          </div>
          <div class="clents-right">
            <div class="cr-head">
              <span class="clients-prev active"
                ><i class="fas fa-arrow-left"></i
              ></span>
              <span class="clients-next"
                ><i class="fas fa-arrow-right"></i
              ></span>
            </div>
            <div class="cr-body mb-15-none">
              <div class="clients-slider">
                <div class="volunteer-item-2 m-3">
                  <div class="volunteer-thumb">
                    <div class="thumb">
                      <a href="volunteer-single.html">
                        <img
                          src="assets/images/volunteer/mandira.jpg"
                          alt="volunteer"
                        />
                      </a>
                    </div>
                    <div class="content pos-rel">
                      <h5 class="title">
                        <a href="volunteer-single.html">Mandira Lamichhane</a>
                      </h5>
                      <span
                        >Ph.D. from Goethe University, Frankfurt am Main,
                        Germany</span
                      >
                    </div>
                  </div>
                  <div
                    class="volunteer-content d-flex flex-wrap align-items-center justify-content-between px-4"
                  ></div>
                </div>
                <div class="volunteer-item-2 m-3">
                  <div class="volunteer-thumb">
                    <div class="thumb">
                      <a href="volunteer-single.html">
                        <img
                          src="assets/images/volunteer/Sarmila.jpg"
                          alt="volunteer"
                        />
                      </a>
                    </div>
                    <div class="content pos-rel">
                      <h5 class="title">
                        <a href="volunteer-single.html"
                          >Dr. Sharmila Tandukar</a
                        >
                      </h5>
                      <span>Doctorate in Environmental Engineering</span>
                    </div>
                  </div>
                  <div
                    class="volunteer-content d-flex flex-wrap align-items-center justify-content-between px-4"
                  ></div>
                </div>
                <div class="volunteer-item-2 m-3">
                  <div class="volunteer-thumb">
                    <div class="thumb">
                      <a href="volunteer-single.html">
                        <img
                          src="assets/images/volunteer/bipin.jpg"
                          alt="volunteer"
                        />
                      </a>
                    </div>
                    <div class="content pos-rel">
                      <h5 class="title">
                        <a href="volunteer-single.html">Dr. Bipin Acharya</a>
                      </h5>
                      <span
                        >PhD in Cartography and Geographic Informations
                        System</span
                      >
                    </div>
                  </div>
                  <div
                    class="volunteer-content d-flex flex-wrap align-items-center justify-content-between px-4"
                  ></div>
                </div>
                <div class="volunteer-item-2 m-3">
                  <div class="volunteer-thumb">
                    <div class="thumb">
                      <a href="volunteer-single.html">
                        <img
                          src="assets/images/volunteer/chhabi.JPG"
                          alt="volunteer"
                        />
                      </a>
                    </div>
                    <div class="content pos-rel">
                      <h5 class="title">
                        <a href="volunteer-single.html">Dr. Chhabi Ranabhat</a>
                      </h5>
                      <span>(Ph.D., MPH)</span>
                    </div>
                  </div>
                  <div
                    class="volunteer-content d-flex flex-wrap align-items-center justify-content-between px-4"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ==========Clients Section Ends Here========== -->

    <!-- ==========Sponsor Section Ends Here========== -->
    <div
      class="sponsor-section padding-top padding-bottom bg_img"
      data-background="assets/images/sponsor/bg.jpg"
    >
      <div class="container">
        <div class="section-wrapper">
          <div class="sponsor-slider">
            <div class="sponsor-thumb">
              <img src="assets/images/sponsor/01.png" alt="sponsor" />
            </div>
            <div class="sponsor-thumb">
              <img src="assets/images/sponsor/02.png" alt="sponsor" />
            </div>
            <div class="sponsor-thumb">
              <img src="assets/images/sponsor/03.png" alt="sponsor" />
            </div>
            <div class="sponsor-thumb">
              <img src="assets/images/sponsor/04.png" alt="sponsor" />
            </div>
            <div class="sponsor-thumb">
              <img src="assets/images/sponsor/05.png" alt="sponsor" />
            </div>
            <div class="sponsor-thumb">
              <img src="assets/images/sponsor/06.png" alt="sponsor" />
            </div>
            <div class="sponsor-thumb">
              <img src="assets/images/sponsor/01.png" alt="sponsor" />
            </div>
            <div class="sponsor-thumb">
              <img src="assets/images/sponsor/02.png" alt="sponsor" />
            </div>
            <div class="sponsor-thumb">
              <img src="assets/images/sponsor/03.png" alt="sponsor" />
            </div>
            <div class="sponsor-thumb">
              <img src="assets/images/sponsor/04.png" alt="sponsor" />
            </div>
            <div class="sponsor-thumb">
              <img src="assets/images/sponsor/05.png" alt="sponsor" />
            </div>
            <div class="sponsor-thumb">
              <img src="assets/images/sponsor/06.png" alt="sponsor" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ==========Sponsor Section Ends Here========== -->

    <!-- ==========Clients Section Ends Here========== -->
    <div class="clients-section blog padding-bottom">
      <div class="container">
        <div class="section-wrapper">
          <div class="clents-left pos-rel">
            <div class="abs-clients-thumb">
              <img
                src="assets/images/client/client-bg3.jpg"
                alt="client thumb"
              />
            </div>
            <div class="cl-content-area">
              <div class="cl-content">
                <h6 class="cate">WHAT`S NEW</h6>
                <h3 class="title text-uppercase mb-xl-5">
                  Read Our Latest News And Blog Post
                </h3>
                <a href="blog-grid.html" class="custom-button mt-2"
                  ><span>SEE ALL NEWS <i class="fas fa-heart ml-2"></i></span
                ></a>
              </div>
            </div>
          </div>
          <div class="clents-right">
            <div class="cr-head">
              <span class="clients-prev active"
                ><i class="fas fa-arrow-left"></i
              ></span>
              <span class="clients-next"
                ><i class="fas fa-arrow-right"></i
              ></span>
            </div>
            <div class="cr-body">
              <div class="clients-slider">
                <div class="post-item p-3">
                  <div class="post-thumb">
                    <a href="blog-single.html"
                      ><img src="assets/images/blog/blog01.jpg" alt="blog"
                    /></a>
                  </div>
                  <div class="post-content">
                    <div class="post-top">
                      <span class="post-by d-inline-block mb-3"
                        >By Admin March 24, 2021</span
                      >
                      <h4 class="title mb-0">
                        <a href="blog-single.html"
                          >Empoer Extenve Chanels Extensve Globa Creat Method</a
                        >
                      </h4>
                    </div>
                    <div class="post-bottom">
                      <a href="blog-single.html" class="read">Read More</a>
                      <a href="#" class="comments"
                        ><i class="far fa-comments"></i>
                        <span class="comment-number">25 Comments</span></a
                      >
                    </div>
                  </div>
                </div>
                <div class="post-item p-3">
                  <div class="post-thumb">
                    <a href="blog-single.html"
                      ><img src="assets/images/blog/blog02.jpg" alt="blog"
                    /></a>
                  </div>
                  <div class="post-content">
                    <div class="post-top">
                      <span class="post-by d-inline-block mb-3 theme-four"
                        >By Admin March 24, 2021</span
                      >
                      <h4 class="title mb-0">
                        <a href="blog-single.html"
                          >Quickly Respond on Your Device For Inspection</a
                        >
                      </h4>
                    </div>
                    <div class="post-bottom">
                      <a href="blog-single.html" class="read">Read More</a>
                      <a href="#" class="comments"
                        ><i class="far fa-comments"></i>
                        <span class="comment-number">25 Comments</span></a
                      >
                    </div>
                  </div>
                </div>
                <div class="post-item p-3">
                  <div class="post-thumb">
                    <a href="blog-single.html"
                      ><img src="assets/images/blog/blog03.jpg" alt="blog"
                    /></a>
                  </div>
                  <div class="post-content">
                    <div class="post-top">
                      <span class="post-by d-inline-block mb-3 theme-color"
                        >By Admin March 24, 2021</span
                      >
                      <h4 class="title mb-0">
                        <a href="blog-single.html"
                          >Empoer Extenve Chanels Extensve Globa Creat Method</a
                        >
                      </h4>
                    </div>
                    <div class="post-bottom">
                      <a href="blog-single.html" class="read">Read More</a>
                      <a href="#" class="comments"
                        ><i class="far fa-comments"></i>
                        <span class="comment-number">25 Comments</span></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ==========Clients Section Ends Here========== -->

    <!-- ==========Footer Section Starts Here========== -->
    <%- include('footer.ejs')-%>
    <!-- ==========Footer Section Ends Here========== -->
  </body>
</html>
