<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head.ejs')-%>
  </head>

  <body>
    <%- include('header.ejs') -%>
    <!-- ==========Banner Section Starts Here========== -->
    <section
      class="page-header bg_img"
      data-background="assets/images/banner/page-header.jpg"
      style="padding: 100px"
    >
      <div class="container">
        <div class="page-header-content">
          <h1 class="title">Mission and Vision</h1>
          <ul class="breadcrumb">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>About</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- ==========Banner Section Ends Here========== -->

    <!-- ==========Feature Section Start Here========== -->
    <div class="feature-section style-2 pos-rel" style="padding: 50px 0px">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <h3 class="title text-uppercase" style="padding: 0px 0px 20px 0px">
              Mission and Vision
            </h3>
            <p>
              Our mission is to spearhead transformative action in planetary
              health, guided by the principle of the Planetary Health Alliance,
              and analyze the intricate connections between nature and human
              activities through a commitment to rigorous exploration,
              innovative research, and collaborative initiatives.
            </p>
            <p>
              The Planetary Health Research Centre aims to ignite positive
              action and craft a resilient, sustainable planet for current and
              future generations by deeply understanding, actively addressing,
              and skillfully mitigating the intricate connections between
              environmental change and human well-being, we envision a world
              where planetary health takes precedence, communities thrive, and
              ecosystems flourish in perfect harmony.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- ==========Feature Section Ends Here========== -->

    <!-- ==========Footer Section Starts Here========== -->
    <%- include('footer.ejs') -%>
  </body>
</html>
