<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head.ejs') -%>
  </head>

  <body>
    <%- include('header.ejs') -%>
    <!-- ==========Banner Section Starts Here========== -->
    <section
      class="page-header bg_img"
      data-background="assets/images/banner/page-header.jpg"
    >
      <div class="container">
        <div class="page-header-content">
          <h1 class="title">Our Team</h1>
          <ul class="breadcrumb">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="#">pages</a>
            </li>
            <li>team</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- ==========Banner Section Ends Here========== -->

    <!-- ==========volunteer Section Starts Here========== -->
    <section
      class="volunteer-section padding-top padding-bottom bg_img"
      data-background="assets/images/bg/volunteer-bg.jpg"
    >
      <div class="container">
        <div class="row justify-content-center mb-30-none">
          <div class="col-xl-4 col-sm-6">
            <div class="volunteer-item-2">
              <div class="volunteer-thumb">
                <div class="thumb">
                  <a href="/teamDetails?id=1">
                    <img
                      src="assets/images/volunteer/mandira.jpg"
                      alt="volunteer"
                    />
                  </a>
                </div>
                <div class="content pos-rel">
                  <h5 class="title">
                    <a href="/teamDetails?id=1">Dr. Mandira Lamichhane</a>
                  </h5>
                  <span
                    >Ph.D. from Goethe University, Frankfurt am Main,
                    Germany</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6">
            <div class="volunteer-item-2">
              <div class="volunteer-thumb">
                <div class="thumb">
                  <a href="/teamDetails?id=2">
                    <img
                      src="assets/images/volunteer/bipin.jpg"
                      alt="volunteer"
                    />
                  </a>
                </div>
                <div class="content pos-rel">
                  <h5 class="title">
                    <a href="/teamDetails?id=2">Dr. Bipin Acharya</a>
                  </h5>
                  <span
                    >PhD in Cartography and Geographic Informations System</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6">
            <div class="volunteer-item-2">
              <div class="volunteer-thumb">
                <div class="thumb">
                  <a href="/teamDetails?id=3">
                    <img
                      src="assets/images/volunteer/chhabi.JPG"
                      alt="volunteer"
                    />
                  </a>
                </div>
                <div class="content pos-rel">
                  <h5 class="title">
                    <a href="/teamDetails?id=3">Dr. Chhabi Ranabhat</a>
                  </h5>
                  <span>(Ph.D., MPH)</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-sm-6">
            <div class="volunteer-item-2">
              <div class="volunteer-thumb">
                <div class="thumb">
                  <a href="/teamDetails?id=4">
                    <img
                      src="assets/images/volunteer/Sarmila.jpg"
                      alt="volunteer"
                    />
                  </a>
                </div>
                <div class="content pos-rel">
                  <h5 class="title">
                    <a href="/teamDetails?id=4">Dr. Sharmila Tandukar</a>
                  </h5>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ==========Footer Section Starts Here========== -->
    <%- include('footer.ejs') -%>
  </body>
</html>
